body {
	background: #b1b1b1;
}

.thumbnail img {
	margin: 5px 20px 5px 10px;
	width: 100px;
	height: 100px;
	float: left;
}

.thumbnail h3 {
	margin: 0;
}

.thumbnail p {
	margin: 0;
}

h6 {
	display: block;
}